<!DOCTYPE html>
<html>

<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <!-- advanced fillters button -->
    <!-- <link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script> -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css" rel="stylesheet"
        type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js"></script>
    <link href="https://cdn.datatables.net/2.0.0/css/dataTables.semanticui.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.0/js/dataTables.semanticui.js"></script>
    <link href="https://cdn.datatables.net/searchbuilder/1.7.0/css/searchBuilder.semanticui.css" rel="stylesheet"
        type="text/css" />
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/dataTables.searchBuilder.js"></script>
    <script src="https://cdn.datatables.net/searchbuilder/1.7.0/js/searchBuilder.semanticui.js"></script>
    <link href="https://cdn.datatables.net/searchpanes/2.3.0/css/searchPanes.semanticui.css" rel="stylesheet"
        type="text/css" />
    <script src="https://cdn.datatables.net/searchpanes/2.3.0/js/dataTables.searchPanes.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/2.3.0/js/searchPanes.semanticui.js"></script>
    <link href="https://cdn.datatables.net/select/2.0.0/css/select.semanticui.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.datatables.net/select/2.0.0/js/dataTables.select.js"></script>
    <script src="https://cdn.datatables.net/select/2.0.0/js/select.semanticui.js"></script>
    <link href="https://cdn.datatables.net/buttons/3.0.0/css/buttons.semanticui.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.semanticui.js"></script>
    <link href="https://cdn.datatables.net/responsive/3.0.0/css/responsive.semanticui.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/dataTables.responsive.js"></script>
    <script src="https://cdn.datatables.net/responsive/3.0.0/js/responsive.semanticui.js"></script>
    <link href="https://cdn.datatables.net/fixedheader/4.0.0/css/fixedHeader.semanticui.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/fixedheader/4.0.0/js/dataTables.fixedHeader.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/4.0.0/js/fixedHeader.semanticui.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.colVis.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="css/common.css">


    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="ui stackable secondary menu">
        <a class="item logo" href="/">
            MouseDB
            <span style="font-size: x-large; opacity: .5; margin: auto 0 0.1rem .5rem;">Beta</span>
        </a>
        <a class="item" href="/">
            <i class="database icon" style="visibility: visible;"></i>
            Database
        </a>
        <a class="item" href="/HandFit">
            <img class="hand" src="images/hand.png" alt="Your Image">
            Hand Fit
        </a>
        <a class="item" href="/Contact">
            Report & Contact
        </a>
        <a class="right item" id="toggle" style="margin: auto 1rem auto 1rem;">
            <i class="fa <%= darkMode ? 'fa-sun' : 'fa-moon' %>"></i>
        </a>
    </div>

    <%- body %>

        <div style="display:flex;">
            <div class="ui segment no-border" id="credit">
                <p>Credit</p>
                <a href="https://www.flaticon.com/free-icons/hand" title="hand icons">Hand icons created by berkahicon -
                    Flaticon</a>
                <br>
                <a href="https://www.flaticon.com/free-icons/wireless-mouse" title="wireless mouse icons">Wireless mouse
                    icons created by Freepik - Flaticon</a>
                <br>
                <a
                    href="https://www.freepik.com/free-photo/purple-computer-mouse_974638.htm#query=mouse%20side%20view&position=0&from_view=keyword&track=ais&uuid=7b80ef01-c042-4e88-a202-e01b66b275ef">Image
                    by qmtstudio</a> on Freepik
            </div>
        </div>

        <div id="collision"></div>

        <script src="javascripts/common.js"></script>
        <% if(darkMode) { %>
            <script src="javascripts/darkModeSession.js"></script>
            <% } %>
</body>

</html>