<%- layout('layouts/common.ejs') %>

    <head>
        <title>Hand Fit - MouseDB</title>
        <link rel="stylesheet" href="css/handFit.css">
    </head>
    <h1 class="ui header grid">
        Hand Fit
        <div class="sub header" style=" font-size: medium;">
            Search ideal mice based on your hand size
        </div>
    </h1>
    <div class="page ui stackable">
        <div class="inputs ui segment no-border big">
            <form id="desiMouse">
                <p>Your Hand Size (mm)</p>
                <div class="ui labeled input">
                    <div class="ui label">
                        X
                    </div>
                    <input type="number" id="horizontalRatio" name="handW" step="0.1">
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        Y
                    </div>
                    <input type="number" id="verticalRatio" name="handL" step="0.1">
                </div>
                <br><br><br>

                <div>Ratio of Mouse Size
                    <i class="ui info circle icon info-icon" data-content="The mouse's ratio to hand size. Feel free to adjust this value. While it may seem a bit
                            small, 0.6 is considered optimal. For beginners, around 0.63 is recommended." data-variation="large very wide"></i>
                </div>
                <br>
                <div class="ui labeled input">
                    <div class="ui label">
                        X
                    </div>
                    <input type="number" id="coefX" name="coefX" step="0.01" value="0.6">
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        Y
                    </div>
                    <input type="number" id="coefY" name="coefY" step="0.01" value="0.6">
                </div>
                <br><br><br>

                <div class="ui icon">Desired Mouse Size (mm)
                    <i class="info circle icon info-icon" data-variation="large very wide basic"
                        data-position="right center"></i>
                    <div class="ui popup transition hidden">
                        <div class="content">
                            <p class="infoData">Type max width, length, height of the Mouse</p>
                            <img src="images/mouseSize.png" class="infoData" alt="Sample Image"
                                style="height: 75%; width: 75%;">
                            <img src="images/mouseZ.png" class="infoData" alt="Sample Image"
                                style="height: 100%; width: 100%;">
                        </div>
                    </div>
                </div>
                <br>
                <div class="ui labeled input">
                    <div class="ui label">
                        X
                    </div>
                    <input type="number" id="desiX" name="desiX" step="0.1">
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        Y
                    </div>
                    <input type="number" id="desiY" name="desiY" step="0.1">
                </div>
                <div class="ui labeled input">
                    <div class="ui label">
                        Z
                    </div>
                    <input type="number" id="desiZ" name="desiZ" step="0.1" placeholder="Height (Optional)">
                </div>
                <br><br>
                <button class="huge ui button" id="searchBtn">Search</button>
            </form>
            <br>


            <div class="ui negative message compact">
                <p>You can measure your hand size by using the picture on the right, but use <br> your own measuring
                    tool for accurate measurements.</p>
            </div>
            <br>
            <div class="ui labeled input">
                    <div class="ui label">
                        Monitor Inch
                    </div>
                    <input type="number" id="monitorInch" step="0.1">
                </div>
            <!-- <br><br>
            <label for="resX">Monitor Resolution (p) X:</label>
            <input type="number" id="resX"> Y: <input type="number" id="resY">
            <br> -->
            <!-- <label for="aspectX">Aspect Ratio:</label>
        <input type="number" id="aspectX" value="16"> : <input type="number" id="aspectY" value="9"> -->

        </div>

        <div class="handContainer">
            <div class="handSelf">

                <div class="handleRight"></div>
                <img class="fitImg" src="images/hand_with_arrow.png" alt="Sample Image"
                    style="height: 660px; width: 355px;">
                <div class="handleBottom"></div>
            </div>
        </div>
    </div>

    <script src="javascripts/calculation.js"></script>