<%- layout('layouts/common.ejs') %>

       <head>
              <title>Contact - MouseDB</title>
              <style>
                     .ui.big.text {
                            display: flex;
                            justify-content: center;
                            margin: 2em auto;
                     }
              </style>
       </head>

<div class="ui no-border segment">
       <p><span class="ui  big text">If you have anything to report, please contact &nbsp;<a
                            href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=mousedbofficial@gmail.com"
                            target="_blank">mousedbofficial@gmail.com</a></span></p>

       <p><span class="ui  big text">or &nbsp;<a href="https://twitter.com/mousedbinc" target="_blank">MouseDB X
                            account</a></span></p>
</div>                            