<%- layout('layouts/common.ejs') %>
<br><br><br><br>
<h1 class="ui header centered grid">
    Oops, Internal Error
        <div class="sub header" style=" font-size: medium;">
        </div>
    </h1>