 .ui.ui.ui.container:not(.fluid) {
     width: 90%;
     /* margin: 3rem auto auto auto; */
 }

 div.dt-container.ui.grid>div.row:first-child {
     padding-top: 0;
 }

 .ui.segment.no-border {
     border: none !important;
     box-shadow: none;
     margin-top: 0rem;
     background-color: #ffffff00;
 }

 .dtsb-title {
     /* font-size: 1.5em; */
 }

 .dtsb-searchBuilder {
     background-color: #ffffff;
     color: rgb(0, 0, 0);
     margin-bottom: 0 !important;
     font-size: large;
     float: left;
     border: solid 1px hsla(0, 0%, 50%, 0.5);
     border-radius: 0.3rem;
     padding: 0 1rem 0 1rem;
     mix-blend-mode: exclusion;
     filter: invert();
 }

 div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-italic {
     font-style: normal;
     font-weight: bold;
 }

 .right {
     display: flex !important;
     flex-direction: column;
     justify-content: flex-end;
     align-items: flex-end;
 }

 .buttons {
     padding-right: 3rem;
 }

 .dt-search {
     margin-top: 10px;
 }

 .ui.grid>* {
     padding-left: 0;
     padding-right: 0;
 }

 @font-face {
     font-family: "logo";
     src: url("../fonts/PlusJakartaSans-Medium.ttf") format("truetype");
 }

 .ui.secondary.menu {
     /* background-color: #ffffff; */
     border-bottom: 1px solid #000000;
 }

 .ui.secondary.menu .item {
     font-size: 1.5em;
     align-self: center;
 }

 .ui.secondary.menu .item.logo {
     padding: 0.2em 0.5em 0.2em 0.5em;
     /* margin-top: -0.1em; */
     font-size: 3em;
     font-family: "logo", sans-serif;
 }

 .ui.secondary.menu .item>img:not(.ui) {
     display: inline-block;
     vertical-align: middle;
     margin: -0.3em 0.3em;
     width: .8em;
 }

 .ui.header.grid {
     align-items: end;
     margin: 0.1rem 0 0rem 4rem;
     font-size: 4em;
 }

 .ui.header.grid .sub.header {
     margin-left: 1em;
     padding-bottom: 0.5em;
 }

 :root {
     --bgColor: #ffffff;
 }

 body {
     background-color: var(--bgColor);
 }

 .bBack {
     background-color: #1B1C1D !important;
 }

 img.invImg {
     filter: invert() hue-rotate(180deg);
 }

 /* .invFilter{
            mix-blend-mode:difference;
        } */

 body .ui {
     scrollbar-color: rgba(0, 0, 0, 0.5) rgba(255, 255, 255, .5);
 }

 body .ui.inverted:not(.dimmer) {
     scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, .5);
 }

 .info-icon {
     opacity: 1;
     transition: opacity 0.5s ease;
 }

 .hidden {
     opacity: 0;
 }

 #credit {
     margin: 6rem;
 }

 .no-select {
     user-select: none;
 }

 .no-select-unlocked {
     user-select: auto;
 }

 td i:hover {
     cursor: pointer;
 }

 .empty::before {
     content: "...";
 }

 table.dataTable.ui.table th.dt-type-numeric,
 table.dataTable.ui.table th.dt-type-date,
 table.dataTable.ui.table td.dt-type-numeric,
 table.dataTable.ui.table td.dt-type-date {
     text-align: left;
 }